<?xml version='1.0' encoding='utf-8'?>
<widget id="www.travel.com" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
  <preference name="AutoHideSplashScreen" value="true" />
  <preference name="SplashScreenDelay" value="3000" />
  <name>Travel</name>
  <description>Sample Apache Cordova App</description>
  <author email="dev@cordova.apache.org" href="https://cordova.apache.org">
      Apache Cordova Team
  </author>
  <content src="index.html" />
  <allow-intent href="http://*/*" />
  <allow-intent href="https://*/*" />
  <platform name="ios">
    <splash src="res/screen/ios/Default@2x~universal~anyany.jpg" />
    <splash src="res/screen/ios/Default@2x~universal~comany.jpg" />
    <splash src="res/screen/ios/Default@2x~universal~comcom.jpg" />
    <splash src="res/screen/ios/Default@3x~universal~anyany.jpg" />
    <splash src="res/screen/ios/Default@3x~universal~anycom.jpg" />
    <splash src="res/screen/ios/Default@3x~universal~comany.jpg" />
  </platform>
  <plugin name="cordova-plugin-splashscreen" spec="^6.0.2" />
</widget>
